body {
  font-family: sans-serif;
  font-weight:lighter;
}

.column {
  width: 25%;
  padding: 20px;
  border: solid black;
  border-width: 5px;
  background-color:seashell;
  margin-bottom: 10px;
  box-sizing: border-box;
 }

img {
  max-width: 100%;
  float: left;
}

.subtitle {
  color:grey;
  font-style: italic;
  font-family: serif;
}