body {
  font-family: sans-serif;
  font-weight:lighter;
}

.column {
  width: 25%;
 }

img {
  max-width: 100%;
  float: left;
}

.subtitle {
  color:grey;
  font-style: italic;
  font-family: serif;
}